.reviewItem {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.castCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.castItem {
  width: calc((100% - 4 * 28px) / 5);
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 8px;
}

.moreInfoTitle {
  color: #ffffff;
}

.reviewList {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 12px;
}
