.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.trendingToday {
  color: #ffffff;
}

.todayFilms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.itemToday {
  width: calc((100% - 16px * 4) / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  gap: 8px;
  padding: 8px;
  box-shadow: 0 5px 5px #4a4a4a;
}

.imgFilm {
  margin: 0 auto;
}

.titleFilm {
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 8px;
}

.errorMessage {
  text-align: center;
  color: red;
  font-size: 32px;
}
