body {
  background: linear-gradient(
    0deg,
    rgba(49, 232, 214, 1) 0%,
    rgba(114, 57, 184, 1) 33%,
    rgba(114, 57, 184, 1) 67%,
    rgba(49, 232, 214, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}
